
@{
    ViewBag.Title = "Newpoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group  " method="post">
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Student Id</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="OgrId">


    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Lesson Id</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="DersId">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Exam 1</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="Sınav1">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Exam 2</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="Sınav2">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Exam 3</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="Sınav3">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Project Score</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="Proje">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Average</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="Ortalama">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Status</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="durum">

    </div>


    <button type="submit" class="btn btn-primary " style="margin-top:10px;">Submit</button>
</form>

