

@{
    ViewBag.Title = "NewClub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group  " method="post">
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Club Name</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="KulupAd">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Club Max-Number</label>
        <input type="number" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="KulupKontenjan">

    </div>

    <button type="submit" class="btn btn-primary " style="margin-top:10px;">Submit</button>
</form>

