@model OgrenciNotMVC.Models.EntityFramework.TblOgrenciler

@{
    ViewBag.Title = "NewStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group  " method="post">
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Student Name</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="OgrAd">


    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Student Surname</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="OgrSoyad">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Student Gender</label>
        <input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" name="OgrCinsiyet">

    </div>
    <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Student Club</label>

        @Html.DropDownListFor(m => m.TblKulupler.KulupId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary " style="margin-top:10px;">Submit</button>
</form>

